<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="8a0de3d9-20d7-42d2-af0f-8eb07e9c5261" Name="Competition Viewer" Language="1033" Version="1.0.0.0" Manufacturer="Iris Photo Software" UpgradeCode="78ea36e4-6db8-4751-a94a-90d043810e94">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="WixInstaller" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="WixInstaller" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ProductComponent">
        <File Source="$(var.TPhotoCompetitionViewer.TargetPath)"/>
      </Component>
      <Component Id="EntityFramework.dll"><File Id="EntityFramework.dll" Name="EntityFramework.dll" Source="../TPhotoCompetitionViewer/bin/Release/EntityFramework.dll"/></Component>
      <Component Id="EntityFramework.SqlServer.dll"><File Id="EntityFramework.SqlServer.dll" Name="EntityFramework.SqlServer.dll" Source="../TPhotoCompetitionViewer/bin/Release/EntityFramework.SqlServer.dll"/></Component>
      <Component Id="EntityFramework.SqlServer.xml"><File Id="EntityFramework.SqlServer.xml" Name="EntityFramework.SqlServer.xml" Source="../TPhotoCompetitionViewer/bin/Release/EntityFramework.SqlServer.xml"/></Component>
      <Component Id="EntityFramework.xml"><File Id="EntityFramework.xml" Name="EntityFramework.xml" Source="../TPhotoCompetitionViewer/bin/Release/EntityFramework.xml"/></Component>
      <Component Id="QRCoder.dll"><File Id="QRCoder.dll" Name="QRCoder.dll" Source="../TPhotoCompetitionViewer/bin/Release/QRCoder.dll"/></Component>
      <Component Id="System.Data.SQLite.dll"><File Id="System.Data.SQLite.dll" Name="System.Data.SQLite.dll" Source="../TPhotoCompetitionViewer/bin/Release/System.Data.SQLite.dll"/></Component>
      <Component Id="System.Data.SQLite.dll.config"><File Id="System.Data.SQLite.dll.config" Name="System.Data.SQLite.dll.config" Source="../TPhotoCompetitionViewer/bin/Release/System.Data.SQLite.dll.config"/></Component>
      <Component Id="System.Data.SQLite.EF6.dll"><File Id="System.Data.SQLite.EF6.dll" Name="System.Data.SQLite.EF6.dll" Source="../TPhotoCompetitionViewer/bin/Release/System.Data.SQLite.EF6.dll"/></Component>
      <Component Id="System.Data.SQLite.Linq.dll"><File Id="System.Data.SQLite.Linq.dll" Name="System.Data.SQLite.Linq.dll" Source="../TPhotoCompetitionViewer/bin/Release/System.Data.SQLite.Linq.dll"/></Component>
      <Component Id="System.Data.SQLite.xml"><File Id="System.Data.SQLite.xml" Name="System.Data.SQLite.xml" Source="../TPhotoCompetitionViewer/bin/Release/System.Data.SQLite.xml"/></Component>
      <Component Id="System.Drawing.Common.dll"><File Id="System.Drawing.Common.dll" Name="System.Drawing.Common.dll" Source="../TPhotoCompetitionViewer/bin/Release/System.Drawing.Common.dll"/></Component>      
      <Component Id="TPhotoCompetitionViewer.exe.config"><File Id="TPhotoCompetitionViewer.exe.config" Name="TPhotoCompetitionViewer.exe.config" Source="../TPhotoCompetitionViewer/bin/Release/TPhotoCompetitionViewer.exe.config"/></Component>      
      <Component Id="TPhotoCompetitionViewer.pdb"><File Id="TPhotoCompetitionViewer.pdb" Name="TPhotoCompetitionViewer.pdb" Source="../TPhotoCompetitionViewer/bin/Release/TPhotoCompetitionViewer.pdb"/></Component>      
		</ComponentGroup>
	</Fragment>
</Wix>
